<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
    <h1>msg:<span th:text="${user.name.toUpperCase().substring(4)}"></span>
    jjjyy
    </h1>
    <span th:text="'<font color=\'red\'>hello</font>'"></span><br>
    <span th:utext="'<font color=\'red\'>hello</font>'"></span><br>
    <span th:text="${#dates.createNow()}"></span><br>
    <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span><br>
    <span th:text="200* 200 > 50000"></span>
    <ul>
        <li th:each="user: ${users}">
            <span th:text="${user.name}"></span>
            <span th:text="${user.age}"></span>
        </li>
    </ul>
    <script th:inline="javascript">
        const users = /*[[${users}]]*/[]
        console.log(users.length)
        for (let i in users) {
            console.log(users[i])
        }
    </script>
</body>
</html>